/* Login page */
.close_btn {border-radius: 500px;}

/* Player */
.enlarge_button {padding: 4px;}
.pause_button {border-right-width: 1px; border-style: solid; border-radius: 5px; padding-left: 5px; padding-right: 5px;}
.next_button {border-left-width: 0px;}
/* TODO: Remove the over effect on the top button of the enlarge player */

.activatable > * {margin-top: 15px; margin-bottom: 15px; margin-left: 15px; margin-right: 15px;}

.flat {
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
  }